# Dependencies

node_modules

# Environment Variables

.env
.env.test

# Turborepo

.turbo

# React Email

.react-email

# Remix Run

.cache

# Vite

vite.config.ts.timestamp*

# Build

build
dist
tsconfig.tsbuildinfo

# Compiled TypeScript files
*.js
*.d.ts
*.d.ts.map

# Debugging

yarn-debug.log*
yarn-error.log*


# Miscelleanous

.DS_Store

# Supabase

supabase/.temp

# Other

schema.prisma

# docs to ignore
SYSTEM_DESIGN.md
ARCHITECTURE_DIAGRAM.md
DATABASE_SCHEMA.md
